.panel-wrap {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.panel-wrap.drag-over {
    cursor: move;
}

.panel-wrap.drag-over .panel-marker {
    cursor: move;
}

.panel-image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.panel-marker {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #ff0000;
    box-shadow: 0 0 20px rgba(0,0,0, 1);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.panel-marker::before,
.panel-marker::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    background-color: #ff0000;
    transform: translate(-50%, -50%);
}

.panel-marker::before {
    width: 1px;
    height: 20px;
}

.panel-marker::after {
    width: 20px;
    height: 1px;
}